Selenoid login and password:
LOGIN = "test"
PASSWORD = "7894"

Spoonacular sensitive info:
USER_LOGIN='user'
USER_EMAIL = "user@gmail.com"
USER_PASSWORD = "password"
UNREGISTERED_USER_LOGIN = 'user'
UNREGISTERED_USER_EMAIL = "test@gmail.com"
UNREGISTERED_USER_PASSWORD = "password"
API_key= '11111111a11a11af11111111a111111a'
